In [150]:
import pandas as pd

df=pd.read_csv('train-2.csv')
df.head()

,PassengerId,Survived,Pclass,Name,fex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   fex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
len(df["Cabin"].unique())

# drop cabin
df.drop("Cabin",axis=1,inplace=True)

In [ ]:
len(df["Ticket"].unique())
# drop ticket
df.drop("Ticket",axis=1,inplace=True)

In [ ]:
# categorical columns
cat_cols=["fex", "Embarked"]

# convert categorical columns to numeric
for col in cat_cols:
    df[col]=df[col].astype('category').cat.codes

In [ ]:
# drop passenger id, name
df.drop(['PassengerId', 'Name'], axis=1, inplace=True)

In [ ]:
df

     Survived  Pclass  fex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0   NaN      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   fex       891 non-null    int8
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int8
dtypes: float64(2), int64(4), int8(2)
memory usage: 43.6 KB

In [ ]:
# create column age_na
df['age_na']=df['Age'].isna().astype('int')

# fill age with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
X=df.drop('Survived', axis=1)
y=df['Survived']

# split data into train and test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
#knn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.7150837988826816

In [ ]:
# decision tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(max_depth=3)
dt.fit(X_train, y_train)
y_pred=dt.predict(X_test)
accuracy_score(y_test, y_pred)

0.7988826815642458

In [ ]:
#optimize knn
neighbors=list(range(1,10))

for k in neighbors:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred=knn.predict(X_test)
    print(k, accuracy_score(y_test, y_pred))

1 0.6983240223463687
2 0.6983240223463687
3 0.7150837988826816
4 0.7430167597765364
5 0.7039106145251397
6 0.7262569832402235
7 0.7206703910614525
8 0.7206703910614525
9 0.7206703910614525

In [ ]:
best_k=3

knn=KNeighborsClassifier(n_neighbors=best_k)
knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.7150837988826816

In [ ]:
# optimize decision tree
depths=list(range(1,20))

for d in depths:
    dt=DecisionTreeClassifier(max_depth=d)
    dt.fit(X_train, y_train)
    y_pred=dt.predict(X_test)
    print(d, accuracy_score(y_test, y_pred))

1 0.7821229050279329
2 0.7653631284916201
3 0.7988826815642458
4 0.7988826815642458
5 0.7932960893854749
6 0.7988826815642458
7 0.7932960893854749
8 0.8044692737430168
9 0.8100558659217877
10 0.8268156424581006
11 0.770949720670391
12 0.776536312849162
13 0.8100558659217877
14 0.7877094972067039
15 0.8268156424581006
16 0.776536312849162
17 0.7877094972067039
18 0.8212290502793296
19 0.8156424581005587

In [ ]:
best_depth=6

dt=DecisionTreeClassifier(max_depth=best_depth)
dt.fit(X_train, y_train)
y_pred=dt.predict(X_test)
accuracy_score(y_test, y_pred)

0.7988826815642458

In [153]:
df=pd.read_csv('train-2.csv')
df.head()

# more feature engineering

df['family_size']=df['SibSp']+df['Parch']+1

df['is_alone']=df['family_size'].apply(lambda x: 1 if x==1 else 0)

df['fare_per_person']=df['Fare']/df['family_size']

# take first letter of cabin as deck
df['deck']=df['Cabin'].str[0]

df["name_length"]=df['Name'].apply(lambda x: len(x))

In [154]:
cat_cols=["fex", "Embarked", "deck"]

# drop cabin
df.drop("Cabin",axis=1,inplace=True)

# drop ticket
df.drop("Ticket",axis=1,inplace=True)

# convert categorical columns to numeric
for col in cat_cols:
    df[col]=df[col].astype('category').cat.codes
    
df.drop(['PassengerId', 'Name'], axis=1, inplace=True)
# create column age_na
df['age_na']=df['Age'].isna().astype('int')

# fill age with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

X=df.drop('Survived', axis=1)
y=df['Survived']

# split data into train and test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [155]:
best_k=6

knn=KNeighborsClassifier(n_neighbors=best_k)
knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.6927374301675978

In [159]:
# optimize decision tree
depths=list(range(1,20))

for d in depths:
    dt=DecisionTreeClassifier(max_depth=d)
    dt.fit(X_train, y_train)
    y_pred=dt.predict(X_test)
    print(d, accuracy_score(y_test, y_pred))

1 0.7821229050279329
2 0.7653631284916201
3 0.7988826815642458
4 0.8156424581005587
5 0.8100558659217877
6 0.7988826815642458
7 0.7988826815642458
8 0.7877094972067039
9 0.8100558659217877
10 0.8044692737430168
11 0.8324022346368715
12 0.8212290502793296
13 0.7988826815642458
14 0.8044692737430168
15 0.8044692737430168
16 0.7821229050279329
17 0.7988826815642458
18 0.7821229050279329
19 0.7877094972067039

In [160]:
import numpy as np
np.random.seed(42)


# enchance decision tree
depths=list(range(1,10))
min_splits=list(range(2,10))
min_samples_leaf=list(range(1,20))

results={}

for d in depths:
    for s in min_splits:
        for l in min_samples_leaf:
            dt=DecisionTreeClassifier(max_depth=d, min_samples_split=s, min_samples_leaf=l)
            dt.fit(X_train, y_train)
            y_pred=dt.predict(X_test)
            results[(d,s,l)]=accuracy_score(y_test, y_pred)
            
sorted(results.items(), key=lambda x: x[1], reverse=True)[:30]

[((6, 2, 9), 0.8435754189944135),
 ((6, 6, 9), 0.8435754189944135),
 ((6, 8, 9), 0.8435754189944135),
 ((6, 9, 9), 0.8435754189944135),
 ((5, 2, 9), 0.8324022346368715),
 ((5, 3, 9), 0.8324022346368715),
 ((5, 4, 9), 0.8324022346368715),
 ((5, 5, 9), 0.8324022346368715),
 ((5, 6, 9), 0.8324022346368715),
 ((5, 7, 9), 0.8324022346368715),
 ((5, 8, 9), 0.8324022346368715),
 ((5, 9, 9), 0.8324022346368715),
 ((6, 2, 10), 0.8324022346368715),
 ((6, 4, 10), 0.8324022346368715),
 ((6, 5, 10), 0.8324022346368715),
 ((6, 8, 10), 0.8324022346368715),
 ((6, 9, 10), 0.8324022346368715),
 ((7, 2, 9), 0.8324022346368715),
 ((7, 3, 9), 0.8324022346368715),
 ((7, 8, 9), 0.8324022346368715),
 ((8, 3, 9), 0.8324022346368715),
 ((8, 4, 9), 0.8324022346368715),
 ((8, 5, 9), 0.8324022346368715),
 ((8, 6, 9), 0.8324022346368715),
 ((8, 7, 9), 0.8324022346368715),
 ((8, 8, 9), 0.8324022346368715),
 ((9, 3, 9), 0.8324022346368715),
 ((9, 6, 9), 0.8324022346368715),
 ((9, 9, 9), 0.8324022346368715),
 ((4, 2, 19), 0.8268156424581006)]